@import "tailwindcss";

:root {
  --z-base: 0;
  --z-footer: 10;
  --z-save-button: 15;
  --z-search-input: 20;
  --z-header: 30;
  --z-dropdown: 35;
  --z-overlay: 40;
  --z-sidebar: 50;
  --z-root-loading: 9999;

  --header-height: 68px;
  --footer-height: 84px;
}

* {
  word-break: keep-all;
}

button {
  cursor: pointer;
}
